<section class="register">
	<form name="registerform" 
		ng-submit="register()" 
		novalidate>
		<div class="col-lg-6 col-lg-offset-3">
		<h1>Register</h1>
		<p ng-show="message">{{message}}</p>
		<input class="form-control" type="text" name="firstName" placeholder="First Name" 
			ng-model="user.firstName" ng-required="true" autofocus>
			<p class="error validationerror" 
				ng-show="registerform.firstName.$invalid && registerform.firstName.$touched">
				First name is required</p><br>
		<input class="form-control" type="text" name="lastName" placeholder="Last Name" 
			ng-model="user.lastName" ng-required="true" autofocus>
			<p class="error validationerror" 
				ng-show="registerform.lastName.$invalid && registerform.lastName.$touched">
				Last name is required</p><br>
		<input class="form-control" type="email" name="email" placeholder="Email" 
			ng-model="user.email" ng-required="true" autofocus>
			<p class="error validationerror" 
				ng-show="registerform.email.$invalid && registerform.email.$touched">
				Must be a valid email</p><br>
		<input class="form-control" type="password" name="password" placeholder="Password" 
			ng-model="user.password" ng-required="true">
			<p class="error validationerror"
				ng-show="registerform.password.$invalid && registerform.password.$touched">
				Password is required</p><br>
		<button type="submit" class="btn btn-sm btn-primary col-lg-12" style="width:100%"
			ng-disabled="registerform.$invalid">Register</button>
		<p><br> or <a href="#/login">Login</a></p>
		</div>
		
	</form>
</section>